# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# CDK asset staging directory
.cdk.staging
cdk.out

.bedrock_agentcore.yaml

.env*

# vercel
.vercel
.next

events
__pycache__
test_cases

# typescript
*.tsbuildinfo
next-env.d.ts