AWS_REGION="XXXXXXXXXXXXXXXXXXXXXXXX"
AWS_ACCOUNT="XXXXXXXXXXXXXXXXXXXXXXXX"

# This needs to be created before deploying stack via aws console
ENGLISH_DOCS_KNOWLEDGE_BASE_ID="XXXXXXXXXXXXXXXXXXXXXXXX"

SF_USERNAME="XXXXXXXXXXXXXXXXXXXXXXXX"
SF_PASSWORD="XXXXXXXXXXXXXXXXXXXXXXXX"
SF_TOKEN="XXXXXXXXXXXXXXXXXXXXXXXX"


TWILIO_ACCOUNT_SID="XXXXXXXXXXXXXXXXXXXXXXXX"
TWILIO_AUTH_TOKEN="XXXXXXXXXXXXXXXXXXXXXXXX"
TWILIO_PHONE_NUMBER="XXXXXXXXXXXXXXXXXXXXXXXX"

# first need to deploy agent to get this for the 
# function url to be created
AGENT_RUNTIME_ARN=""