
AWS_REGION=XXXXXXXXXXXXXXXXXXXXXXXX

AGENTCORE_MEMORY_ID=XXXXXXXXXXXXXXXXXXXXXXXX

ENGLISH_KNOWLEDGE_BASE_ID=XXXXXXXXXXXXXXXXXXXXXXXX
SESSIONS_TABLE_NAME=XXXXXXXXXXXXXXXXXXXXXXXX

UNIVERSITY_NAME=XXXXXXXXXXXXXXXXXXXXXXXX
UNIVERSITY_SHORT_NAME=XXXXXXXXXXXXXXXXXXXXXXXX

MAX_HISTORY_TURNS=5

SF_USERNAME=XXXXXXXXXXXXXXXXXXXXXXXX
SF_PASSWORD=XXXXXXXXXXXXXXXXXXXXXXXX
SF_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXX

# WhatsApp Twilio SQS 
TWILIO_WHATSAPP_QUEUE_URL=XXXXXXXXXXXXXXXXXXXXXXXX